@{
    Layout = "~/Views/Shared/AdminPanel_Layout.cshtml";
}

@model UniversityCommittee.Models.User

<div class="col-6 offset-3">

    @if (ViewBag.Message1 == 1)
    {
        <div class="alert alert-success">
            <ul>
                <li>User Data Edited Successfully</li>
            </ul>
        </div>
    }
    @if (ViewBag.Message1 == 0)
    {
        <div class="alert alert-danger">
            <ul>
                <li>User Data Edit Error</li>
            </ul>
        </div>
    }

    <form action="/Home/EditProfileData1" method="post">
        <input type="hidden" name="id" value="@ViewBag.User.Id">
        <input type="hidden" name="byadmin" value="true">
        <div class="form-group">
            <h3 class="text-center">User Data</h3>
            <label>Email address</label>
            <input type="email" class="form-control mb-sm-2" name="email" value="@ViewBag.User.Email">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control mb-sm-2" name="name" value="@ViewBag.User.Name">
        </div>
        <div class="form-group">
            <label>Surname</label>
            <input type="text" class="form-control mb-sm-2" name="surname" value="@ViewBag.User.Surname">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mt-sm-4" style="background-color: #180b7a">Update User Data</button>
        </div>
    </form>
    @if (ViewBag.Message3 == 1)
    {
        <div class="alert alert-success">
            <ul>
                <li>Password Edited Successfully</li>
            </ul>
        </div>
    }
    @if (ViewBag.Message3 == 0)
    {
        <div class="alert alert-danger">
            <ul>
                <li>Password Edit Error</li>
            </ul>
        </div>
    }
    <form action="/Home/EditProfilePasswordByAdmin" method="post">
        <input type="hidden" name="user_id" value="@ViewBag.User.Id">
        <div class="form-group">
            <h3 class="my-sm-5 text-center">Change Password</h3>
            <label>Current Password</label>
            <input type="text" class="form-control mb-sm-2" name="password" value="@ViewBag.User.Password" readonly>
        </div>
        <div class="form-group">
            <label>New Password</label>
            <input type="password" class="form-control mb-sm-2" name="new_password">
            <h6 class="card-subtitle mb-2 text-muted"><small>Input new password</small></h6>
        </div>
        <div class="form-group">
            <input type="hidden" name="variant" value="3">
            <button type="submit" class="btn btn-primary mt-sm-4" style="background-color: #180b7a">Change Password</button>
        </div>
    </form>
    @if (ViewBag.Message2 == 1)
    {
        <div class="alert alert-success">
            <ul>
                <li>Role Changed Successfully</li>
            </ul>
        </div>
    }

<div class="form-group">
    <h3 class="my-sm-5 text-center">Role</h3>

    @*<div class="btn-group btn-group-toggle" style="background-color: #180b7a" data-toggle="buttons">
            @foreach (UniversityCommittee.Models.Role Role in @ViewBag.Roles)
            {
                if (Role.Id == @ViewBag.User.RoleId)
                {
                    <label class="btn btn-secondary active">
                        <input type="radio" name="roleId" value="@Role.Id" id="option_@Role.Id" checked> @Role.RoleName
                    </label>
                }
                else
                {
                    <label class="btn btn-secondary">
                        <input type="radio" name="roleId" value="@Role.Id" id="option_@Role.Id"> @Role.RoleName
                    </label>
                }
            }
        </div>*@

    <div class="btn-group" role="group" aria-label="Basic example">
        @foreach (UniversityCommittee.Models.Role Role in @ViewBag.Roles)
        {
            if (Role.Id == @ViewBag.User.RoleId)
            {
                <form action="/Home/EditUserRole" method="post" id="editrole_@Role.Id">
                    <input type="hidden" name="user_id" value="@ViewBag.User.Id">
                    <input type="hidden" name="role_id" value="@Role.Id">
                </form>
                <button type="submit" form="editrole_@Role.Id" class="btn btn-secondary active">@Role.RoleName</button>
            }
            else
            {
                <form action="/Home/EditUserRole" method="post" id="editrole_@Role.Id">
                    <input type="hidden" name="user_id" value="@ViewBag.User.Id">
                    <input type="hidden" name="role_id" value="@Role.Id">
                </form>
                <button type="submit" form="editrole_@Role.Id" class="btn btn-secondary">@Role.RoleName</button>
            }
        }
    </div>
    <div class="form-group">
        <h6 class="card-subtitle mb-2 mt-sm-2 text-muted"><small>Warning: When changing the role, the user's data is erased</small></h6>
    </div>

    @if (ViewBag.Message4 == 1)
    {
        <div class="alert alert-success">
            <ul>
                <li>Group Changed Successfully</li>
            </ul>
        </div>
    }
    @if (ViewBag.User.RoleId == 1)
    {
        <form action="/Home/EditUserGroup" method="post">
            <div class="form-group mb-5">
                <h3 class="my-sm-5 text-center">Group</h3>

                <select class="form-control" name="groupId">
                    @if (@ViewBag.User.GroupId == null)
                    {
                        <option value="-1" selected>None</option>
                    }
                    @foreach (UniversityCommittee.Models.Group Group in @ViewBag.Groups)
                    {
                        if (@ViewBag.User.GroupId == Group.Id)
                        {
                            <option value="@Group.Id" selected>@Group.GroupName</option>
                        }
                        else
                        {
                            <option value="@Group.Id">@Group.GroupName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="hidden" name="user_id" value="@ViewBag.User.Id">
                <button type="submit" class="btn btn-primary mt-sm-4" style="background-color: #180b7a">Change Group</button>
            </div>
        </form>
    }

    @*<hr class="my-2">
        <form action="/Home/DeleteUser" method="post" id="delete">
            <input type="hidden" name="user_id" value="@ViewBag.User.Id">
        </form>
        <div class="nav justify-content-end my-3">
            <button type="submit" form="delete"
                    class="btn btn-danger ml-sm-1 btn-sm">
                DELETE USER
            </button>
        </div>*@

